.footer__title {
    letter-spacing: -1px;
}

.footer__links {
    font-size: 14px;
}

.footer__body {
    font-size: 14px;
}

.footer__subheading {
    font-size: 13px;
}

.footer__zalo {
    width: 28px;
    height: 28px;
    font-size: 10px;
}
