.category-page__title {
    font-size: 32px;
}

.category-page__focus {
    width: 90%;
}

.category-related__thumb {
    width: 120px;
    height: 72px;
}

.category-related__title {
    font-size: 15px;
    line-height: 1.4;
}
