* {
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    color: $nld-text;
    background-color: #fff;
    font-size: 16px;
    line-height: $lh-normal;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-primary;
    line-height: 1.5;
    margin: 0;
}

.btn {
    min-height: 48px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

a {
    text-decoration: none !important;
    color: inherit;
    transition: color $transition-fast;
}

.hover-link {
    &:hover {
        color: $nld-blue !important;
    }
}
